<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%= require('./meta.ejs')({bar: 'bar'}) %>
  <title>Document</title>
</head>

<body>
  <%= foo %>
  <img src="<%= require('../asset/image/vscode-400.png') %>" />
</body>

</html>